.signup{
    display: flex;
    font-family: sans-serif;
}
.signup_left{
    background-image: url('https://img.freepik.com/free-vector/background-abstract-halftone-design_23-2148588098.jpg?w=740&t=st=1677657640~exp=1677658240~hmac=775d082486e166c67802c660e7421e519daa1940a12f3bda5d4b1446e3e9b42f');
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 100vh;
    align-items: center;
    place-items: center;
    color: white;
}

.signup_left>h1{
    font-size: xx-large;
    margin: 0;
}
.signup_left>p{
    font-size: small;
    margin: 1rem 0 3rem 0;
}

.sign_btn{
    text-decoration: none;
    padding: 0.7rem 3rem;
    border: none;
    background-color:white;
    border-radius: 20px;
    color: black;
    cursor: pointer;
    font-family: sans-serif;
    font-size: large;
}
.sign_btn:hover{
    background-color: black;
    color: white;
    transition: 0.4s;
}

.signup_right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100vh;
}

.signup_right>form{
    display: flex;
    flex-direction: column;
}
.signup_btn{
    padding: 0.7rem 3rem;
    border: none;
    background-color:#00a884;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-family: sans-serif;
    font-size: large;
}
.signup_btn:hover{
    /* background-color:#00cfa2; */
    opacity: 0.8;
    transition: 0.1s ease-in;
}

form>input{
    border: none;
    background-color: #dceeea;
    margin: 1rem 0;
    width: 25rem;
    padding: 0 1rem;
    /* opacity: 0.3; */
}